@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body {
  background: #5e8da0;
}

.page-header {
  border-color: #95bece;
  font-family: 'Montserrat', sans-serif;
}

.page-header h1 {
  font-size: 2em;
  color: #fff;
}

.page-header span {
  display: block;
  font-size: 1.8em;
}

.well {
  margin-top: 20px;
  background-color: #95bece;
  border: 0;
  font-family: 'Source Code Pro', 'sans-serif';
}

.well .comment {
  color: #666;
  display: block;
}

.footer a {
  color: rgba(255, 255, 255, 0.7);
}

.footer a:hover { color: #fff; }
